body {
  background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}

sup {
  text-decoration: underline #000 dotted;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

a[target="_blank"] {
  color: black;
  text-decoration: underline #000 dotted;
}

.jumbotron {
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

.center-all {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  height: 100vh;
}

.page-special {
  height: 100vh;
}

.selling-point {
  visibility: hidden;
  margin-bottom: 10vh;
}

#shower:hover {
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out 0s;
}

.button {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  padding: 7px 0;
  margin: 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #000;
  transition: .5s;
}

.button:hover::before {
  visibility: visible;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.button:hover {
  padding: 20px 7px;
  text-decoration: none;
  color: black;
}

.white {
  background-color: rgba(255, 255, 255, .4);
  backdrop-filter: blur(5px);
}

.container-fluid {
  width: calc(100vw - 10vh);
}

.title {
  font-size: 1.5em;
}

.title-smaller {
  font-size: 1.3em;
}

.footer-font {
  font-size: 0.7em;
}

.start {
  border-radius: 15px 15px 0 0;
}

.end {
  border-radius: 0 0 15px 15px;
}

.total {
  border-radius: 15px;
}

#malcolm-gladwell {
  margin-top: 10px;
  margin-bottom: 20px;
}

.law {
  margin: 20px 0;
}

.description {
  padding-bottom: 30px;
}

.hide-display {
  display: none;
}

.sell-button {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.carousel-box {
  margin: 0px calc(100vh - 45vw);
  height: auto;
}

@media (hover:hover) {
  .button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
  }

  a[target="_blank"]:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 1025px) {
  body {
    font-size: 1.1em;
  }
  .container-fluid {
    width: 100%;
  }

  .title {
    font-size: 1.7em;
  }

  .page-special {
    height: auto;
  }

  .carousel-box {
    margin: 0;
  }
}
